/* Scrollable canvas surface */
.canvas {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
}

.canvas__content {
  position: relative;
  /* width: 2000px;
  height: 2000px; */
  min-width: 100vw;
  min-height: 100vh;
  transition: transform 120ms ease-out;
  overflow: hidden;
}

.canvas__content {
  background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
  background-size: 40px 40px;
}

.canvas__viewport {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  transform-origin: top left;
  transition: transform 120ms ease-out;
}

/* Node styling */
.canvas__child {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  font-family: sans-serif;
  background: #222;
  color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  user-select: none;
}

/* .panel__main {
  background: rgba(255, 0, 0, 0.1);
}

.canvas__wrapper {
  background: rgba(0, 255, 0, 0.1);
}

.canvas__content {
  background: rgba(0, 0, 255, 0.1);
} */