@import url("./vendor/theme.css");
@import url("./vendor/normalize.css");
@import url("./blockes/panel.css");
@import url("./blockes/canvas.css");
@import url("./blockes/uielement.css");
@import url("./blockes/contextmenu.css");

html,
body,
footer {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#zoomHUD {
  position: fixed;
  top: 12px;
  right: 12px;
  background: #000;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0.8;
}