:root {
    --background-color: #26292D;
    --Second-background-color: #212428;
    --divider-color: #212428;

    --checkBorad-size: 40px 40px;

    --grid-Interactive-Area-background: linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);

    --grid-Non-Interactive-background: linear-gradient(rgba(255, 0, 0, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 0, 0, 0.2) 1px, transparent 1px);

    --non-interactive-background-color: #2a0a0a;

    --text-color: #fff;
}