@import url("./theme.css");
@import url("./variables.css");

/* Reset */
body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Grid layout */
.app-grid {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 400px 1fr;
    grid-template-areas:
        "topbar topbar"
        "sidebar main";
    height: 100vh;
}

/* Topbar spans full width */
.topbar {
    grid-area: topbar;
    background-color: var(--bg-topbar);
    color: white;
    display: flex;
    align-items: center;
    padding: 0 var(--padding-md);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Sidebar stays left */

.main-content {
    padding: var(--padding-md);
    background-color: var(--bg-color);
    overflow-y: auto;
}

.panelGroup {
    width: 100vw;
}

.resizableHandle {
    width: 4px;
    background-color: var(--border-color);
}

.sidebar::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb,
.main-content::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: var(--border-radius-md);
}

p {
    margin: 0;
    padding: 0;
    width: 100%;
}